.c-quizform {
    &__first-label {
        padding-top: 25px;
    }

    div.question {
        width: 80%;
        margin: 45px 10%;
        padding: 30px;
        background: #eee;

        h3 {
            margin-bottom: 20px;
        }

        ul {
            margin-left: 0px;
            margin-top: 15px;

            li {
                list-style: none;
            }
        }
    }

    input.submit-quiz {
        width: 50%;
        margin: 0 auto;
        display: block;
        background: $green;
        color: #fff;
        border: 0px;
        padding: 10px 15px;
        font-size: 15px;
    }

    label {
        padding-top: 15px !important;
    }

    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
        &:not(#filename) {
            text-indent: 8px;
            display: inline-block;
            height: 36px;
            width: 100%;
            margin-bottom: 5px;
            line-height: 20px;
            color: #555555;
            vertical-align: middle;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
            -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
            -o-transition: border linear 0.2s, box-shadow linear 0.2s;
            transition: border linear 0.2s, box-shadow linear 0.2s;
        }
    }

    textarea {
        padding: 8px;
        text-indent: 0;
    }

    div.questions {
        h3 {
            margin-top: 5px;
            margin-bottom: 0px;
        }
        margin-top: 30px;

        div.question {
            label {
                width: 100%;
            }
        }

        div.answers {
            margin-left: 15px;
            margin-right: 15px;
            width: 70%;
        }

        div.image {

            .input-group {
                margin-top: 10px;
            }

            .btn-file input[type=file] {
                height: 30px;
                cursor: pointer;
                position: absolute;
                top: 0px;
                right: 0px;
                font-size: 100px;
                z-index: 2;
                opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
                filter: alpha(opacity=0); /* IE lt 8 */
                -ms-filter: "alpha(opacity=0)"; /* IE 8 */
                -khtml-opacity: 0.0; /* Safari 1.x */
                -moz-opacity: 0.0;
            }

            #filename {
                background-color: white;
            }

            img {
                max-width: 100%;
            }
            a {
                margin-top: 10px;
            }
            padding: 15px;
        }

    }

    .imagedescription {
        padding: 15px;
    }

    .add-answer {
        padding-left: 15px;
    }

    .delete-answer {
        color: $brand-danger;
    }

    .delete-existing-answer {
        color: $brand-danger;
    }

    .picturetext{
        font-family: $font-family-sans-serif;
    }

}