.c-stepper {
  .quiz-title {
    text-align: center;
  }
  .mdl-stepper--horizontal {
    padding: 25px 0px;
    max-width: 100%;
  }

  .mdl-step__content {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .intro_step,.outro_step {
    text-align: center;
  }
  .mdl-stepper--horizontal .mdl-step__label {
    .mdl-step__title {
      * {
        white-space: pre-line;
      }
    }
  }

  img {
    width: 100%;
  }

  ul {
    list-style: none outside none;
  }

  .center-text {
    text-align: center;
  }

}
