// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;

@import '~font-awesome/scss/font-awesome.scss';

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
// Bootstrap plugins
@import "~eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css";

// jQuery UI
@import '~jquery-ui/themes/base/all.css';

// Components
@import "components/c-quizform";
@import "components/c-stepper";
@import "components/_c-quizbutton";

// TinyMCE stuff
@import '~tinymce/skins/lightgray/skin.min.css';
@import '~tinymce/skins/lightgray/content.min.css';

// Stepper plugin
@import url("https://code.getmdl.io/1.1.3/material.blue-pink.min.css");
@import '~mdl-stepper/stepper.min.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// photoswipe plugin
@import '~photoswipe/dist/photoswipe.css';
@import '~photoswipe/dist/default-skin/default-skin.css';
//[class^="fa-"]:before {
//  font-family: "Fontawesome";
//}

.navbar {
    min-height: 80px;
}

.navbar-logo {
    max-height: 50px;
}
.navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.mdl-button__ripple-container {
    margin-left: auto;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.mdl-step.is-active .mdl-step__actions [data-stepper-next] {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-left: auto;
}

.table {
    table-layout: auto!important;
    tbody{
        tr{
            td{
                font-family: $font-family-sans-serif !important;
            }
            td.buttoncell{
                  width: 5%;
              }
        }
    }

    thead{
        tr{
            th{
                font-family: $font-family-sans-serif !important;
               width: auto!important;// width: auto!important;
            }
        }
    }
}